.contacts__title {
  @include margin-bottom-50;
  &-second {
    margin-bottom: 5px;
  }
}

.contacts__list {
  text-align: center;
  @include margin-bottom-20;
  @include breakpoint690{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
}

.contacts__item {
  margin-bottom: 30px;
  &:last-child {
    margin-bottom: 0;
  }
  @include breakpoint1140 {
    &:nth-child(2) {
      order: 1;
    }
    &:nth-child(3) {
      padding-top: 100px;
    }
  }
}

.contacts__tel {
  @include flex;
  flex-direction: column;
  row-gap: 5px;
}

.contacts__link {
  display: block;
  margin: auto;
  width: 280px;
  color: $orange;
  &:hover {
    @include opacity-7;
  }
  &:active {
    opacity: 0.3;
  }
  @include desktop {
    font-size: 24px;
    line-height: 28px;
  }
}

.map {
  position: relative;
  padding: 0;
  margin: 0;
  border: none;
  width: 100%;
  min-height: 300px;
  @include tablet {
    min-height: 350px;
  }
  @include desktop {
    min-height: 400px;
  }
}
