.coolNumber-slider {
  @include margin-bottom-50;
  background-color: $black-bg;
  padding: 25px 0;
  @include tablet {
    @include margin-bottom-100;
  }
}

.coolNumber-slider__list {
  padding: 0;
}

.coolNumber-slider__item {
  width: 250px;
  height: 250px;
  @include tablet {
    height: 300px;
  }
  @include desktop {
    height: 350px;
  }
}

.coolNumber-slider__img {
  display: block;
  height: 100%;
  object-fit: fill;
}

.coolNumber-slider__btn {
  &--prev {
    left: 1%;
  }
  &--next {
    right: 1%;
  }
}
