.header {
  @include margin-bottom-50;
  position: relative;
  min-height: 500px;
  &__wrapper {
    position: relative;
    z-index: 2;
    max-width: 100%;
    min-height: 100px;
    background-color: rgba($black, 0.7);
    @include desktop {
      min-height: 150px;
    }
  }
  @include tablet {
    min-height: 500px;
    @include margin-bottom-100;
  }
  @include desktop {
    min-height: 100vh;
  }
}

.header__flex {
  @include flex-v-center;
  min-height: 100px;
  @include desktop {
    min-height: 150px;
  }
}

.logo,
.burger,
.close {
  fill: $white;
  &:hover {
    fill: $orange;
  }
  &:active {
    @include opacity-7;
  }
}

.logo {
  width: 100px;
  height: 50px;
  @include desktop {
    width: 150px;
    height: 100px;
  }
}

.header__btn {
  margin-left: auto;
  @include tablet {
    display: none;
  }
}

.burger,
.close {
  width: 20px;
  height: 20px;
}

.close-none {
  display: none;
}

.nav {
  position: absolute;
  padding-left: 20px;
  top: 100px;
  width: 100%;
  min-height: 400px;
  z-index: 2;
  background-color: rgba($black, 0.7);
  @include mobile-all {
    display: none;
  }
  @include tablet {
    padding-left: 0;
    top: 50%;
    right: 3%;
    transform: translate(0, -50%);
    background-color: transparent;
    min-height: 0;
    max-width: 600px;
  }
  @include breakpoint1140 {
    right: 9%;
  }
  @include breakpoint1340 {
    right: 8%;
  }
  @include desktop {
    max-width: 900px;
    right: 7%;
  }
  @include breakpoint1640 {
    right: 12%;
  }
  @include breakpoint1920 {
    right: 18%;
  }
}

.nav__list {
  @include tablet {
    @include flex-v-center;
    justify-content: end;
    column-gap: 20px;
    row-gap: 5px;
    flex-wrap: wrap;
  }
}

.nav__item {
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  @include tablet {
    margin-bottom: 0;
  }
}

.nav__link {
  &:hover {
    color: $orange;
  }
  &:active {
    @include opacity-7;
  }
}
