.slider {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.slider__bg {
  width: inherit;
  min-height: inherit;
  &--1 {
    @include bg-cover;
    background-image: url(../img/slides/slide-1.jpg);
  }
  &--2 {
    @include bg-cover;
    background-image: url(../img/slides/slide-2.jpg);
  }
  &--3 {
    @include bg-cover;
    background-image: url(../img/slides/slide-3.jpg);
  }
}

.slider__content {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-27%, -50%);
  padding-top: 50px;
}

.slider__title {
  margin-bottom: 10px;
  text-align: start;
  @include tablet {
    margin-bottom: 20px;
    max-width: 600px;
  }
  @include desktop {
    max-width: 900px;
  }
}

.slider__description {
  margin-bottom: 20px;
  @include tablet {
    max-width: 500px;
  }
}

.slider__list {
  position: relative;
  margin-bottom: 20px;
  @include desktop {
    margin-bottom: 30px;
  }
}

.slider__item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0;
  }
  @include tablet {
    padding-left: 30px;
  }
}

.slider__pagination {
	position: absolute;
	left: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.swiper-pagination-bullet {
	padding: 5px 10px;
	border-radius: 50%;
	width: 10px;
	height: 10px;
  padding: 0;
	background: $white;
  &:hover {
    background-color: $orange;
    opacity: 1;
  }
  &:active {
    @include opacity-7;
  }
  @include desktop {
    width: 15px;
    height: 15px;
  }
}

.swiper-pagination-bullet-active {
	background: $orange;
}

.custom-prev,
.custom-next {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 1;
}

.slider__prev,
.slider__next {
  @include breakpoint619-max {
    display: none;
  }
}

.custom-next {
  right: 20px;
}

.custom-prev {
  left: 20px;
}

.arrow  {
  width: 23px;
  height: 30px;
  fill: $white;
  &-rotate {
    transform: rotate(180deg);
  }
  &:hover {
    fill: $orange;
  }
  &:active {
    @include opacity-7;
  }
}

