.services {
  position: relative;
  overflow-x: hidden;
  @include margin-bottom-50;
}

.services__title {
  @include margin-bottom-50;
}

.services__slider {
  max-width: 270px;
  margin: auto;
  min-height: 400px;
  @include tablet {
    max-width: 400px;
    min-height: 650px;
  }
  @include breakpoint1340 {
    max-width: 100%;
  }
}

.services__slide {
  min-height: 350px;
  border-radius: 40px;
  border: 2px solid $orange;
  background-color: $black-bg;
  text-align: center;
  padding: 20px;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows:  50px 1fr 40px;
  @include tablet {
    min-height: 570px;
    padding: 30px;
  }
  @include desktop {
    padding: 30px 40px;
  }
}

.services__title-second {
  align-self: center;
}

.services__list {
  align-self: center;
}

.services__item {
  position: relative;
  margin-bottom: 10px;
  padding-left: 20px;
  &:last-child {
    margin-bottom: 0;
  }
  @include tablet {
    margin-bottom: 20px;
  }
}

.services__flex {
  @include flex-all-sb;
  align-self: end;
}

.services__price {
  font-size: 16px;
  color: rgba($white, 0.6);
  @include tablet {
    font-size: 20px;
  }
}

.services__btn-link {
  width: 120px;
  @include tablet {
    width: 150px;
  }
}
