.services {
  @include margin-bottom-50;
}

.services__title {
  @include margin-bottom-50;
  &-second {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    min-height: 50px;
    color: $orange;
  }
  @include desktop {
    &-second {
      font-size: 32px;
      line-height: 32px;
    }
  }
}

.services__list {
  @include flex-all-center;
  flex-direction: column;
  gap: 50px;
  &-second {
    @include flex-h-center;
    flex-direction: column;
    max-width: 250px;
    min-height: 400px;
    margin-bottom: 10px;
  }
  @include breakpoint690 {
    flex-direction: row;
  }
  @include tablet {
    &-second {
      max-width: 300px;
      min-height: 480px;
    }
  }
  @include breakpoint1140 {
    column-gap: 100px;
  }
  @include desktop {
    column-gap: 200px;
    &-second {
      @include flex-h-center;
      flex-direction: column;
      max-width: 350px;
      min-height: 550px;
    }
  }
}

.services__item {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 310px;
    height: 650px;
    background-image: url(../img/services/phone-frame.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 310px 650px;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90px;
    height: 20px;
    background-image: url(../img/svg/stars.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 20px;
  }
  &-second {
    position: relative;
    padding-left: 20px;
    @include margin-bottom-20;
    &:last-child {
      margin-bottom: 0;
    }
  }
  @include tablet {
    &::before {
      width: 375px;
      height: 785px;
      background-size: 375px 785px;
    }
    &::after {
      background-size: 90px 20px;
    }
    &-second {
      padding-left: 30px;
    }
  }
  @include desktop {
    &::before {
      width: 475px;
      height: 840px;
      background-size: 475px 840px;
    }
  }
}

.services__content {
  @include flex-v-center;
  flex-direction: column;
  width: 290px;
  min-height: 600px;
  padding: 50px 5px;
  background-color: $black-bg;
  border-radius: 40px;
  box-shadow: 0 20px 20px $black;
  @include tablet {
    width: 350px;
    padding: 60px 15px;
    min-height: 750px;
  }
  @include desktop {
    width: 450px;
    padding: 60px 40px;
    min-height: 800px;
    border-radius: 50px;
  }
}

.services__btn-link {
  position: relative;
  z-index: 1;
  min-height: 50px;
  padding: 10px 100px;
}
